{# -------------- GET HELP OVERLAY -------------- #}
<div id="helpOverlay" class="help-overlay">
  <div class="help-overlay-backdrop" id="helpOverlayBackdrop"></div>
  <div class="help-panel" id="helpPanel">
    <!-- HEADER LINK with arrow on far right -->
    <a href="/apply-for-help" class="help-panel-header">
      <span class="header-text">{{ 'Get The Help You Need'|t }}</span>
      <i class="fa-solid fa-arrow-right-long"></i>
    </a>
    <hr class="help-panel-divider" />
    
    <div class="help-panel-content">
      <!-- Left Column: LEGAL TOPICS -->
      <div class="help-column">
        <h3>
          <a href="/legal-topics">
            <span class="d-none d-md-inline">{{ 'LEGAL TOPICS'|t }}</span>
            <span class="d-md-none">{{ 'TOPICS'|t }}</span>
          </a>
        </h3>
        <ul>
          <li>
            <a href="/safe-stable-housing">
              <span class="d-none d-md-inline">{{ 'Safe & Stable Housing'|t }}</span>
              <span class="d-md-none">{{ 'Housing'|t }}</span>
            </a>
          </li>
          <li>
            <a href="/family-safety-stability">
              <span class="d-none d-md-inline">{{ 'Family Safety & Stability'|t }}</span>
              <span class="d-md-none">{{ 'Family'|t }}</span>
            </a>
          </li>
          <li>
            <a href="/advocacy-older-adults">
              <span class="d-none d-md-inline">{{ 'Advocacy for Older Adults'|t }}</span>
              <span class="d-md-none">{{ 'Older Adults'|t }}</span>
            </a>
          </li>
          <li>
            <a href="/health-essential-benefits">
              <span class="d-none d-md-inline">{{ 'Health & Essential Benefits'|t }}</span>
              <span class="d-md-none">{{ 'Benefits'|t }}</span>
            </a>
          </li>
          <li>
            <a href="/consumer-protection">
              <span class="d-none d-md-inline">{{ 'Consumer Protection'|t }}</span>
              <span class="d-md-none">{{ 'Consumer'|t }}</span>
            </a>
          </li>
          <li>
            <a href="/individual-rights">
              <span class="d-none d-md-inline">{{ 'Individual Rights'|t }}</span>
              <span class="d-md-none">{{ 'Individuals'|t }}</span>
            </a>
          </li>
        </ul>
      </div>

      <!-- Right Column: RESOURCES -->
      <div class="help-column">
        <h3>
          <a href="/resources">{{ 'RESOURCES'|t }}</a>
        </h3>
        <ul>
          <li><a href="/locations">{{ 'Find An Office'|t }}</a></li>
          <li><a href="/forms">{{ 'Forms'|t }}</a></li>
          <li><a href="/guides">{{ 'Guides'|t }}</a></li>
          <li><a href="/reports-publications">{{ 'Reports & Publications'|t }}</a></li>
          <li><a href="/video-library">{{ 'Video Library'|t }}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{# End overlay markup #}