{#
/**
 * @file
 * Theme override for the search view.
 *
 * Adds curved header, dynamic title, and "Page X of Y" pager information.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   Javascript.
 * - pager_info: Custom variable with current/total page info.
 * - has_search_query: Whether a search query was entered.
 *
 * @see template_preprocess_views_view()
 * @see b5subtheme_preprocess_views_view()
 */
#}
{%
  set classes = [
    'search-page',
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}

{# Curved page header #}
<div class="curved-page-header">
  <h1 class="curved-page-header-title">
    {% if rows %}
      {{ 'Search Results'|t }}
    {% else %}
      {{ 'Search'|t }}
    {% endif %}
  </h1>
</div>

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}

  {% if header %}
    <header>
      {{ header }}
    </header>
  {% endif %}

  <div class="search-form-wrapper">
    {{ exposed }}
    <a href="https://www.algolia.com/?utm_medium=AOS-referral" class="algolia-attribution" target="_blank" rel="noopener noreferrer">
      {{ 'Powered by'|t }}
      <img src="/{{ directory }}/images/Algolia-mark-blue.png" alt="Algolia" class="algolia-attribution__logo">
    </a>
  </div>

  {{ attachment_before }}

  {% if rows -%}
    <div class="search-results">
      {{ rows }}
    </div>
  {% elseif empty -%}
    <div class="search-empty">
      {{ empty }}
    </div>
  {% endif %}

  {{ pager }}

  {# Page X of Y indicator #}
  {% if pager_info and pager_info.total > 1 %}
    <div class="pager-info">
      <span>{{ 'Page'|t }} <span class="pager-info__current">{{ pager_info.current }}</span> {{ 'of'|t }} {{ pager_info.total }}</span>
    </div>
  {% endif %}

  {{ attachment_after }}
  {{ more }}

  {% if footer %}
    <footer>
      {{ footer }}
    </footer>
  {% endif %}

  {{ feed_icons }}
</div>
